<a href="https://colab.research.google.com/github/amansinha0907/Python/blob/main/1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. print

In [ ]:
print(12)
print(12.5)
print("Ashish Jangra)")
print(True)
print()
print('--------')

print(12, 2.5, True,'AShish')

12
12.5
Ashish Jangra)
True

--------
12 2.5 True AShish

  2. type

In [ ]:
print(type(12))
print(type(12.5))
print(type('12.5'))
print(type('Ashish'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

3. Operators
  
  3.1) Arithmetic

In [ ]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**5)

17
7
60
2.4
2
2
248832

      3.1.2) Int - Float

In [ ]:
print(12+5.2)
print(12-5.2)
print(12*5.2)
print(12/5.2)
print(12//5.2)
print(12%5.2)
print(12**5.2)

17.2
6.8
62.400000000000006
2.3076923076923075
2.0
1.5999999999999996
409018.0552424305

     3.1.3) Int - String

In [ ]:
print(12*'Ashish')

AshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshish

    3.1.4) Int - Boolean

In [ ]:

print(12+True)
print(12-False)
print(12*True)
print(12/True)
print(12//True)
print(12%True)
print(12**True)

13
12
12
12.0
12
0
12

3.2) Comparison

In [ ]:
print(10>5)
print(10<5)
print(10==5)
print(10!=5)
print(5>=5)
print(5>5)
print(10<=5)

3.3) Logical

In [ ]:
age =35

print (age%5==0 and age%7==0)
print (age%5==0 or age%7==0)
print (age%5==0 and age%7==0 and age%9!=0)
print (age%5==0 and age%7==0 and age%9!=0 and age%2==0)

True
True
True
False

4. Typecasting

        4.1) Int

In [ ]:
print(int(12.99999))
print(int('4623'))
print(int(True))
print(int(False))

12
4623
1
0

    
    4.2) Float

In [ ]:

print(float(12))
print(float('462332'))
print(float(True))
print(float(False))

12.0
462332.0
1.0
0.0

    4.3) Boolean

In [ ]:

print(bool(0))
print(bool(0.0))
print(bool(' '))

False
False
True

    4.4) String

In [ ]:
print(Str(12))
print(Str('462332'))
print(Str(True))
print(Str(False))

NameError: name 'Str' is not defined

print "123"

In [ ]:
a=1
b=2
c=3
print(int(str(a) + str(b) + str(c)))

123

5. Conditionals

In [ ]:
n=36

if (n%5==0 and n%7==0):
    print('Dividible')
else:
    print('Not Dividible')

Not Dividible

NUmber is even or odd

In [ ]:
N=54

if (n%2==0):
  print("Even")
else:
  print("odd")

Even

Number is devisible bt 5&7 but not 9 and must be off betwe\en(0,100)

In [ ]:
n=35
p1=5
p2=7
p3=9
if((n%p1==0) and (n%p2==0) and not(n%p3==0) and (n>=0 and n<=100)):
  print("true")
else:
  print("False")

true

Number is devisible by either 5&7 but not 9 and must be off betwe\en(0,100)

In [ ]:
n= int(input("enter the number: "))
p1=5
p2=7
p3=9
if(((n%p1==0) or (n%p2==0)) and (n%p3!=0) and (n>=0 and n<=100)):
  print("true")
else:
  print("False")

enter the number: 35
true

 5_1 elif

In [ ]:
n=45
if (n<=1000 and n>=0):
  if n%5==0 and n%7==0 and n%9==0:
    print("5 - 7 - 9")
  elif n%5==0 and n%7==0 and n%9!=0:
    print("5 - 7 - not 9")
  elif n%5==0 and n%9==0 and n%7!=0:
    print("5 - not7 - 9")
  elif(n%7==0 and n%9==0 and n%5!=0):
    print("not 5 - 7 - 9")
  elif(n%5==0 and n%7!=0 and n%9!=0):
    print("5 - not7 - not9 ")
  elif(n%7==0 and n%5!=0 and n%9!=0):
    print("not5 - 7 - not9")
  elif(n%9==0 and n%5!=0 and n%7!=0):
    print("not5 -not7 - 9")
  else:
      print("Invalid")
else:
    print("Not in range")

5 - not7 - 9

###6. Loop

In [ ]:
n= int(input("enter the number: "))
for i in range (1,11):
  print (n,"*",i,"=", n*i)

enter the number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

###6.1 table

In [ ]:
n=5


for i in range(n,n*10+1,n):
  print(i)

5
10
15
20
25
30
35
40
45
50

###6.2 revers table

In [ ]:
n=5

for i in range(n*10,n-1,-n):
  print(i)

50
45
40
35
30
25
20
15
10
5

Find the sum of first 1000 natural number

In [ ]:
n=0
for i in range(0,1001):
  n = n+i
print(n)

500500

find the no. between 1 - 100 divisible by 5 & 7

In [ ]:
for i in range(1,101):
  if (i%5==0 and i%7==0):
    print(i)

35
70

Prime no.

In [11]:
n= int(input("Enter the no. :"))
p=0
for i in range(2,n):
 if (n%i==0):
  p=p+1
  break;

if (p>0):
  print("Not Prime")
else:
  print("Prime")

Enter the no. :88
2
Not Prime

Palindrom

In [19]:
n= int(input("Enter the no. :"))
rev=0
n1=n
for i in range (len(str(n)),0,-1):
  rev=rev*10 + (n1%10)
  n1=(n1/10)

if rev == n:
  print("Palindrom")
else:
  print("Not Palindrom")

Enter the no. :1551551
Not Palindrom

prime no between 0-1000

In [2]:
for j in range (2,1001):
  isPrime= True
  for i in range(2,j):
    if (j%i==0):
     isPrime= False
     break;
  if isPrime:
    print(j)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
for i in range(1 ,7):
  for j in range (1,7):
    if (i+j == 5):
      print (i,j)

In [23]:
n=int(input("Enter the no. :"))
num=0
for i in range(1 ,7):
  for j in range (1,7):
    if (i+j == n):
      num=num+1

print (round((num/36)*100,2),"%")

Enter the no. :5
11.11 %

In [34]:
for k in range (1,19):
 num=0
 for l in range (1,7):
   for i in range(1 ,7):
     for j in range (1,7):
        if (i+j+l == k):
          num=num+1
 print("probabilty of getting sum",k,round((num/216)*100,2),"%")

probabilty of getting sum 1 0.0 %
probabilty of getting sum 2 0.0 %
probabilty of getting sum 3 0.46 %
probabilty of getting sum 4 1.39 %
probabilty of getting sum 5 2.78 %
probabilty of getting sum 6 4.63 %
probabilty of getting sum 7 6.94 %
probabilty of getting sum 8 9.72 %
probabilty of getting sum 9 11.57 %
probabilty of getting sum 10 12.5 %
probabilty of getting sum 11 12.5 %
probabilty of getting sum 12 11.57 %
probabilty of getting sum 13 9.72 %
probabilty of getting sum 14 6.94 %
probabilty of getting sum 15 4.63 %
probabilty of getting sum 16 2.78 %
probabilty of getting sum 17 1.39 %
probabilty of getting sum 18 0.46 %

In [40]:
name =" Aman S[;-099in98979'';[;'h87;a"

for i in name:
  if (i in "asdfghjklzxcvbnmqwertyuiopQWERTYUIOPASDFGHJKLZXCVBNM "):
    print(i)

A
m
a
n

S
i
n
h
a

In [55]:
TEST = "ASDFGHJKLI'UYTRE461';'lk[]"
NUM_1=0
NUM_2=0
for i in TEST:
  if (i in "aeiouAIEOU"):
    NUM_1=NUM_1+1
  elif (i==' !@#$%^&*()_+=-{}":?<,./;[]'''):
        continue
  else:
    NUM_2=NUM_2+1

print (NUM_1, NUM_2)

4 22