<a href="https://colab.research.google.com/github/amansinha0907/Python/blob/main/1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. print

In [4]:
print(12)
print(12.5)
print("Ashish Jangra)")
print(True)
print()
print('--------')

print(12, 2.5, True,'AShish')

12
12.5
Ashish Jangra)
True

--------
12 2.5 True AShish

  2. type

In [5]:
print(type(12))
print(type(12.5))
print(type('12.5'))
print(type('Ashish'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

3. Operators
  
  3.1) Arithmetic

In [6]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**5)

17
7
60
2.4
2
2
248832

      3.1.2) Int - Float

In [7]:
print(12+5.2)
print(12-5.2)
print(12*5.2)
print(12/5.2)
print(12//5.2)
print(12%5.2)
print(12**5.2)

17.2
6.8
62.400000000000006
2.3076923076923075
2.0
1.5999999999999996
409018.0552424305

     3.1.3) Int - String

In [9]:
print(12*'Ashish')

AshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshishAshish

    3.1.4) Int - Boolean

In [10]:

print(12+True)
print(12-False)
print(12*True)
print(12/True)
print(12//True)
print(12%True)
print(12**True)

13
12
12
12.0
12
0
12

3.2) Comparison

In [ ]:
print(10>5)
print(10<5)
print(10==5)
print(10!=5)
print(5>=5)
print(5>5)
print(10<=5)

3.3) Logical

In [11]:
age =35

print (age%5==0 and age%7==0)
print (age%5==0 or age%7==0)
print (age%5==0 and age%7==0 and age%9!=0)
print (age%5==0 and age%7==0 and age%9!=0 and age%2==0)

True
True
True
False

4. Typecasting

        4.1) Int

In [12]:
print(int(12.99999))
print(int('4623'))
print(int(True))
print(int(False))

12
4623
1
0

    
    4.2) Float

In [13]:

print(float(12))
print(float('462332'))
print(float(True))
print(float(False))

12.0
462332.0
1.0
0.0

    4.3) Boolean

In [14]:

print(bool(0))
print(bool(0.0))
print(bool(' '))

False
False
True

    4.4) String

In [15]:
print(String(12))
print(String('462332'))
print(String(True))
print(String(False))

NameError: name 'String' is not defined

print "123"

In [1]:
a=1
b=2
c=3
print(int(str(a) + str(b) + str(c)))

123

5. Conditionals

In [3]:
n=36

if (n%5==0 and n%7==0):
    print('Dividible')
else:
    print('Not Dividible')

Not Dividible

NUmber is even or odd

In [16]:
N=54

if (n%2==0):
  print("Even")
else:
  print("odd")

Even

Number is devisible bt 5&7 but not 9 and must be off betwe\en(0,100)

In [27]:
n=35
p1=5
p2=7
p3=9
if((n%p1==0) and (n%p2==0) and not(n%p3==0) and (n>=0 and n<=100)):
  print("true")
else:
  print("False")

true

Number is devisible by either 5&7 but not 9 and must be off betwe\en(0,100)

In [36]:
n= int(input("enter the number: "))
p1=5
p2=7
p3=9
if(((n%p1==0) or (n%p2==0)) and (n%p3!=0) and (n>=0 and n<=100)):
  print("true")
else:
  print("False")

enter the number: 35
true

 5_1 elif

In [47]:
n=45
if (n<=1000 and n>=0):
  if n%5==0 and n%7==0 and n%9==0:
    print("5 - 7 - 9")
  elif n%5==0 and n%7==0 and n%9!=0:
    print("5 - 7 - not 9")
  elif n%5==0 and n%9==0 and n%7!=0:
    print("5 - not7 - 9")
  elif(n%7==0 and n%9==0 and n%5!=0):
    print("not 5 - 7 - 9")
  elif(n%5==0 and n%7!=0 and n%9!=0):
    print("5 - not7 - not9 ")
  elif(n%7==0 and n%5!=0 and n%9!=0):
    print("not5 - 7 - not9")
  elif(n%9==0 and n%5!=0 and n%7!=0):
    print("not5 -not7 - 9")
  else:
      print("Invalid")
else:
    print("Not in range")

5 - not7 - 9